@model IEnumerable<WebBanHangOnline.Models.EF.Order>
@if (Model != null)
{
    var i = 1;
    <h2>Lịch sử đơn hàng</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>STT</td>
                <td>Mã đơn hàng</td>
                <td>Chi tiết đơn hàng</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>@item.Code</td>
                    <td>
                        <!-- Đảm bảo link này dẫn đến action 'View' trong OrderDetailController -->
                        <a href="@Url.Action("View", "OrderDetail", new { id = item.Id })">Chi tiết</a>
                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>
}
